* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border: 1px solid #444444;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #444444;
    text-align: center;
    padding: 10px;
}
th {
    background: #ebfeff;
}

input {
    text-align: right;
}

#box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#tableBox {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#chartBox {
    width: 700px;
}

#myChart{
    width: 700px;
}